body {
    background-image: url('images/background.png');
    font: 12px Arial;
	margin: 0px;
}

#menu-top {
    background-image: url('images/menu-top-background.png');
    background-repeat: repeat-x;
    height: 49px;
    position: relative;
}

#menu-top ul, #navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#student-login {
    position: absolute;
    right: 15px;
    top: -6px;
    background-image: url('images/student-login-back.png');
    width: 139px;
    height: 45px;
    text-align: center;
}

#student-login a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 45px;
    width: 139px;
    height: 45px;
    display: inline-block;
}

#menu-top li {
    display: inline;
    padding-right: 34px;
}

#menu-top li:first-child {
    padding-left: 10px;
}

#menu-top li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 49px;
}

#navigation ul {

}

#main, #menu-top {
    width: 962px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

#main {
    background-color: white;
    margin-top: 16px;
}

#header {
    height: 100px;
	background-image: url('images/a-lot-of-dogs.jpg');
    background-position-y: 15%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: right;
}

#logo {
    padding-left: 12px;
    padding-top: 24px;
    float: left;
}

#title {
	padding-left: 100px; 
	padding-top: 24px;
}


#navigation li {
    display: inline-block;
}
#navigation a{
    text-decoration: none;
    background-image: url('images/navigation-back.png');
    background-repeat: repeat-x;
    line-height: 58px;
    height: 58px;
    display: inline-block;
    padding-left:16px;
    padding-right: 16px;
    text-transform: uppercase;
    font-size: 12px;
    border-right: white 1px solid;
    border-left: #787575 1px solid;
}
#navigation a.selected{
    background-image: url('images/navigation-back-selected.png');
    color: #ab2c29;
}
#navigation ul {
    font-size: 0;
}
#navigation {
    margin-left: -10px;
    margin-right: -10px;
    background-image: url('images/navigation-back.png');
    border-right: #787575 1px solid;
}
#navigation li:last-child{
    border-right: #787575 1px solid;
}
#navigation-bottom {
    margin-left: -10px;
    margin-right: -10px;
    background-image: url('images/navigation-back-left-bottom.png');
    background-repeat: no-repeat;
}
#navigation-bottom div{
    background-image: url('images/navigation-back-right-bottom.png');
    background-repeat: no-repeat;
    height: 7px;
    background-position: right top;
}
#image {
    width: 500px;
    overflow: hidden;
    position: relative;
    margin: 10
}
#image-title {
    background-color: rgba(7, 7, 7, 0.5);
    height: 68px;
    position: absolute;
	padding: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    border-radius: 0px 0px 15px 15px;
}

#content {
	padding: 40px;
	background-image: url('images/background3.png');
}

#content a
{
	color: black;
	text-decoration: none;
}

#bottom {
    width: 962px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
	background-image: url('images/background3.png');
}

#bottom #content {
	background-image: url('images/background1.jpg');
}


#bottom ul 
{
	list-style-type: none;
	padding: 0;
} 
#bottom li 
{
	margin: 20px;
	margin-left: 0;
	font-size: 14px;	
}

#bottom a
{
	margin: 20px;
	color: gray;
	text-decoration: none;
}

#footer 
{
	margin-top: 20px;
	border-top: #C62C29 solid 10px;
	min-height: 250px;
	background-color: white;
}

#footer-body 
{
	width: 962px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
	position: relative;
}
#footer-col1 
{
	position: absolute;
	width: 500px;
	left: 0px;
}
#footer-col2 
{
	position: absolute;
	width: 500px;
	left: 500px;
}
#footer h2
{
	font-weight: normal;
	margin-left: 20px;
}
#footer ul 
{
	list-style-type: none;
	padding: 0;
} 
#footer li 
{
	margin: 20px;
	margin-left: 0;
	font-size: 14px;	
}

#footer a
{
	margin: 20px;
	color: gray;
	text-decoration: none;
}